@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;    
}
header{
    height: 15vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor:pointer;
}
nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:#333;
}

h1{
    font-size: 4em;
    line-height: 1em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2{
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}


.content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    font-size: 16px;
    font-weight: 300;
}

.banner_container{
   
    justify-content: center;
}

.banner_container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;      
}

.banner_container h1{
    width:60%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.coffe_types{
    margin-bottom: 50px;
}

.coffe_types article{
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 5%;
    padding-right: 5%;
    
}

.ristretto{
    background-color: #7f5539;
}

.capuccino{
    background-color: #b08968;
}

.latte{
    background-color: #ddb892;
}