/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 oct 2022, 18:55:46
    Author     : Fabian
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
header{
    height: 15vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor:pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
h1{
    font-size: 4em;
    line-height: 1em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
h2{
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
.content p{
    font-size: 16px;
    font-weight: 300;
}
.banner_container{
    display: contents;
    align-items: center;
}
.banner_container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.banner_container h1{
    position: absolute;
    width: 40%;
    margin-left: 8%;
    color: white;
}
.wedding_information{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10%;
    background-color: darkcyan;
}
.wedding_information h2{
    color: white;
}
.wedding_information p{
    color: white;
}
.recommended_dulce{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.recommended_dulce div{
    color: white;
    background-color: darkcyan;
    flex: 0.33;
    margin-top: 25px;
}
.recommended_dulce div img{
    margin-left: 250px;
    width: 50%;
    height: 245px;
    object-fit: fill;
}
.recommended_dulce div h3{
    margin-left: 500px;
}
.recommended_dulce div p{
    margin-left: 250px;
}

